* {
  box-sizing: border-box;
}
body {
  width: 100%;
  background-image: url("");
  background-size: cover;
  background-color: black;
  position: absolute;
  margin: 0;
}
.overlay {
  position: fixed;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "aa1 bb1"
  "aa1 bb2";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
}
.grey {
  grid-area: aa1;
  background-color: black;
  padding: 6em;
  border-radius: 5px;
  border-right: 5em solid #2f4f4f;
  animation-name: open1;
  animation-delay: 7s;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.red {
  grid-area: bb1;
  background-color: black;
  padding: 6em;
  border-radius: 5px;
  border-bottom: 5em solid red;
  animation-name: open2;
  animation-delay: 7s;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.black {
  grid-area: bb2;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: rgba(0,0,0,1);
  border-top: 5em solid #ffe4c4;
  animation-name: open3;
  animation-delay: 7s;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.cover {
  color: white;
}
.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
  typing 5s steps(30, end),
  blink-caret .5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}
@keyframes open1 {
  from {
    margin: 0;
  }
  to {
    margin-left: -105em;
    margin-right: 105em;
  }
}
@keyframes open2 {
  from {
    margin: 0;
  }
  to {
    margin-top: -75em;
    margin-bottom: 75em;
  }
}
@keyframes open3 {
  from {
    margin: 0;
  }
  to {
    margin-bottom: -75em;
    margin-top: 75em;
  }
}
.typewriter > h2,h1 {
  margin-top: 1em;
}
#img_cover {
  width: 12em;
  height: 12em;
}
#gif_cover {
  width: 10em;
  height: 10em;
}
#deco {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}
#deco2 {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.hr_solid {
  width: 80%;
  background-color: red;
  border: 0.5px solid red;
}
.hr_solid2 {
  width: 25%;
  background-color: red;
  border: 0.5px solid red;
}
.hr_solid3 {
  height: 90%;
  background-color: red;
  border: 0.5px solid red;
}
.hr_solid4 {
  height: 90%;
  background-color: red;
  border: 0.5px solid red;
}
.hr_solid5 {
  width: 50%;
  border: 0.5px solid white;
}
.hr_solid6 {
  width: 50%;
  background-color: red;
  border: 1px solid red;
  margin-top: -20px;
}
.hr_solid7 {
  width: 50%;
  height: 0;
  border: 1px solid red;
  margin-top: 1px;
}
.container {
  display: grid;
  height: 100%;
  background: linear-gradient(90deg, #1E2839, #283347, #434E61);
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas:
  "l1 m0 r1 r2"
  "l1 m1 r1 r2"
  "l1 m2 r1 r2"
  "l1 m3 r1 r2"
  "m4 m4 m4 m4";
}
.nested_container1 {
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-items: center;
}
.nested_center {
  display: grid;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
i > span {
  font-weight: normal;
}
.nested_container1 > p {
  margin-top: -5em;
  padding: 1em;
  justify-items: center;
  font-family: 'Kumbh Sans',sans-serif;
}
.nested_container2 {
  display: grid;
  grid-template-rows: 6, auto;
  justify-items: center;
}
.nested_container3 {
  display: grid;
  grid-template-rows: 6, auto;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  grid-column-gap: 10px;
}
.nested_container4 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
}
.nested_container5 {
  display: grid;
  grid-template-rows: 2, auto;
  justify-items: center;
  justify-content: center;
}
.navbar_links_mobile {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "l1 l2 l3";
  grid-column-gap: 10px;
}
p {
  text-align: left;
}
ul {
  text-align: left;
}
ol {
  text-align: left;
}
.middle_text {
  text-align: center;
}
#contrast {
  color: white;
}
.nested_container2 > #img1 {
  border: 3px solid red;
  border-radius: 100px;
  width: 130px;
  height: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #2f4f4f;
}
#img2 {
  width: 280px;
  height: 280px;
}
#img3 {
  width: 160px;
  height: 160px;
}
#img_cover {
  width: 15em;
  height: 15em;
  margin-left: 30px;
}
#ul_left {
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;
}
#link1 {
  display: grid;
  grid-area: l1;
  color: #ffdead;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1000;
}
#link2 {
  display: grid;
  grid-area: l2;
  color: white;
  text-decoration: none;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1000;
}
#link3 {
  display: grid;
  grid-area: l3;
  color: white;
  text-decoration: none;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1000;
}
.navbar {
  background: #2A363B;
  border-bottom: 16px solid;
  border-color: red;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 998;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbartitle {
  color: white;
  background-size: 100;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Playfair Display", Times New Roman;
  font-size: 2rem;
}
.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar_item {
  height: 80px;
}
.navbar_links {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.8em;
  padding: 0 1rem;
  height: 100%;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1000;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: -8px;
  right: 45%;
  z-index: 1005;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  font-size: 15px;
}
#myBtn:hover {
  background-color: #ffdead;
  color: black;
}
#link1:hover {
  color: brown;
  font-weight: bold;
}
#link2:hover {
  color: brown;
  font-weight: bold;
}
#link3:hover {
  color: brown;
  font-weight: bold;
}
.navbar_links > a {
  color: transparent;
  visibility: hidden;
}
.left {
  border-left: 30px solid transparent;
  grid-area: l1;
}
.right {
  border-left: 10px solid red;
  grid-area: r1;
}
.right2 {
  border-left: 16px solid transparent;
  grid-area: r2;
}
.main0 {
  visibility: hidden;
  display: grid;
  grid-area: m0;
  margin-top: -8em;
}
.main1 {
  grid-area: m1;
  width: 65%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-top: -6em;
  border-radius: 10px;
  background-color: #ff847c;
  text-align: center;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1002;
}
.line {
  margin-top: 2em;
  grid-area: m2;
}
.main2 {
  grid-area: m3;
  width: 90%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  color: #a8e6ce;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1001;
}
.footer {
  grid-area: m4;
  border-top: 10px solid red;
  background-color: black;
  padding: 2em;
}
.nested_container1 > a {
  color: white;
  font-size: 1.5rem;
  margin-top: -1em;
}
.nested_container1 > p {
  margin-top: -5em;
  padding: 1em;
  justify-items: center;
  font-family: 'Kumbh Sans',sans-serif;
}
.bold {
  color: #ffdead;
  filter: brightness(90%);
  font-weight: bold;
}
a:hover {
  color: brown;
  font-weight: bold;
}
#img3:hover {
  transform: scale(.8);
}
@media screen and (min-width: 1025px) {
  .typewriter > h2,h1 {
    margin-top: 1em;
    font-size: 3.6rem;
  }
  #gif_cover {
    width: 10em;
    height: 10em;
  }
  .black img {
    width: 800px;
    height: 800px;
  }
}
@media screen and (max-width: 968px) {
  .typewriter > h2,h1 {
    margin-top: 1em;
    font-size: 1rem;
  }
  #img_cover {
    width: 12em;
    height: 12em;
  }
  #gif_cover {
    width: 10em;
    height: 10em;
  }
  .main0 {
    visibility: visible;
  }
  .nested_container3 {
    display: grid;
    grid-template-rows: 6, auto;
    grid-template-columns: repeat(1,auto);
    justify-items: center;
  }
  #myBtn {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  #img2 {
    width: 210px;
    height: 210px;
  }
  #img3 {
    width: 140px;
    height: 140px;
  }
  .hr_solid {
    width: 50%;
    border: 0.5px solid red;
  }
  .hr_solid3 {
    height: 0;
    width: 70%;
    border: 0.5px solid red;
  }
  .hr_solid4 {
    height: 0;
    border: 0 solid transparent;
  }
  .navbar_container {
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu {
    display: grid;
    position: absolute;
    grid-template-columns: auto;
    margin-top: -33.7em;
    width: 100%;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }
  #navbartitle {
    padding-left: 10px;
    font-family: "Playfair Display", Times New Roman;
  }
  .navbar_links > a {
    visibility: visible;
    color: white;
    text-decoration: none;
    padding: 0.7em;
    margin-top: -5em;
    font-family: 'Kumbh Sans',sans-serif;
    z-index: 1000;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .main1 {
    width: 75%;
    justify-self: center;
    padding: 0;
    margin-top: -5em;
    border-radius: 10px;
    background-color: #d87878;
    text-align: center;
    font-family: 'Kumbh Sans',sans-serif;
    z-index: 1001;
  }
}