* {
  box-sizing: border-box;
}
.overlay {
  position: fixed;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "aa1 bb1"
  "aa1 bb2";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
}
.grey {
  grid-area: aa1;
  background-color: black;
  padding: 6em;
  border-radius: 5px;
  border-right: 5em solid #2f4f4f;
  animation-name: open1;
  animation-delay: 6s;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.red {
  grid-area: bb1;
  background-color: black;
  padding: 6em;
  border-radius: 5px;
  border-bottom: 5em solid red;
  animation-name: open2;
  animation-delay: 6s;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.black {
  grid-area: bb2;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: rgba(0,0,0,0.3) url('https://raw.githubusercontent.com/Lindo-code/personal_website/d8041871f6a8cd95f462b94a76bdf5e5962f692f/images/Undraw/code_thinking.svg');
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  border-top: 5em solid #ffe4c4;
  animation-name: open3;
  animation-delay: 5s;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.cover {
  color: white;
}
.typewriter h2 {
  color: transparent;
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
  typing 3s steps(30, end),
  blink-caret .5s step-end infinite;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes typing {
  from {
    width: 0;
    color: #fff;
  }
  to {
    width: 100%;
    color: #fff;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes open1 {
  from {
    margin: 0;
  }
  to {
    margin-left: -105em;
    margin-right: 105em;
  }
}
@keyframes open2 {
  from {
    margin: 0;
  }
  to {
    margin-top: -75em;
    margin-bottom: 75em;
  }
}
@keyframes open3 {
  from {
    margin: 0;
  }
  to {
    margin-bottom: -75em;
    margin-top: 75em;
    background-blend-mode: 0;
    background-color: rgba(0,0,0,1);
  }
}
.typewriter > h2,h1 {
  margin-top: 1em;
}
#img_cover {
  width: 13em;
  height: 13em;
}
/*#gif_cover {
  width: 10em;
  height: 10em;
  border-radius: 10em;
}*/
#container4_intro {
  color: hsl(198, 62%, 26%);
  padding: 1em;
}
input[type="checkbox"] {
  margin-left: 10px;
  display: none;
  margin-top: 10px;
}
label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 17px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: white;
  border-radius: 3px;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  margin-right: 15px;
  font-size: 15px;
  margin-top: 10px;
}
.checkbox label {
  margin-bottom: 10px;
}
.checkbox label:before {
  border-radius: 3px;
}
input[type="checkbox"]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: black;
  text-align: center;
  line-height: 15px;
}
body {
  width: 100%;
  background-image: url("");
  background-size: cover;
  background-color: black;
  position: absolute;
  margin: 0;
}
.card {
  border-radius: 10px;
  margin: 1em;
  padding: 1em 2em 1em 2em;
  box-shadow: 0 18px 20px 0 rgba(0,0,0,0.6);
  background-color: #2f4f4f;
}
.card1 {
  border-radius: 10px;
  margin: 1em;
  padding: 2em 1em 2em 1em;
  box-shadow: 0 18px 20px 0 rgba(0,0,0,0.6);
  background-color: #2f4f4f;
}

#deco0 {
  font-size: 1.1rem;
  font-family: "Fraunces";
  color: hsl(168, 34%, 41%);
}
#deco {
  font-size: 0.9rem;
  font-weight: normal;
  color: green;
  text-decoration: none;
}
#deco2 {
  font-size: 0.8rem;
  color: green;
  text-decoration: none;
}
#deco1 {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  font-weight: normal;
}
#deco02 {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.hr_solid {
  width: 20%;
  border: 0.5px solid black;
  visibility: hidden;
}
.hr_solid2 {
  width: 25%;
  background-color: red;
  border: 2px solid red;
}
.hr_solid3 {
  width: 0;
  height: 70%;
  border: 1px solid black;
  visibility: hidden;
}
.hr_solid4 {
  width: 0;
  height: 70%;
  border: 1px solid black;
  visibility: hidden;
}
.hr_solid5 {
  width: 0;
  height: 70%;
  border: 1px solid black;
  visibility: hidden;
}
.hr_solid6 {
  width: 70%;
  height: 0;
  background-color: red;
  border: 0.6px solid red;
}
.hr_solid7 {
  width: 65%;
  background-color: red;
  border: 0.5px solid red;
}
.hr_solid8 {
  width: 65%;
  background-color: red;
  border: 0.5px solid red;
}
.hr_solid9 {
  width: 50%;
  border: 1px solid red;
  background-color: red;
  margin-top: -25px;
}
.hr_solid10 {
  width: 50%;
  height: 0;
  background-color: red;
  border: 1px solid red;
  margin-top: 1px;
}
.container {
  display: grid;
  height: 100%;
  background: #1E2839 url('https://raw.githubusercontent.com/Lindo-code/personal_website/5c3bc932311b9042fb82b27fb2386a7ef7a94372/images/Undraw/1865324-c9a61a.svg');
  background-size: 10em 10em;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "l1 m0 r1 r2"
  "l1 m1 r1 r2"
  "l1 m2 r1 r2"
  "l1 m3 r1 r2"
  "l1 m4 r1 r2"
  "l1 m5 r1 r2"
  "l1 m6 r1 r2"
  "l1 m7 r1 r2"
  "l1 m8 r1 r2"
  "l1 m9 r1 r2"
  "m14 m14 m14 m14";
}
.nested_container1 {
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-items: center;
}
h4 {
  font-family: 'Kumbh Sans',sans-serif;
}
.card,.card1 h4 {
  font-family: 'Kumbh Sans',sans-serif;
  color:rgb(241, 195, 88);
}
p {
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;
}
#ul_left {
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;
}
#h_left {
  text-decoration: underline red dotted;
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;
}
#h_center {
  text-decoration: underline red dotted;
  text-align: center;
  font-family: 'Kumbh Sans',sans-serif;
}
i {
  font-weight: normal;
}
.nested_container1 > p {
  margin-top: -5em;
  padding: 1em;
  justify-items: center;
  font-family: 'Kumbh Sans',sans-serif;
}
.nested_container2 {
  display: grid;
  grid-template-rows: 5, auto;
  justify-items: center;
  font-family: 'Kumbh Sans',sans-serif;
}
.nested_container3 {
  display: grid;
  grid-template-rows: 6, auto;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  grid-column-gap: 25px;
  font-family: 'Kumbh Sans',sans-serif;
}
.nested_container4 {
  display: grid;
  grid-template-rows: 6, auto;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  grid-column-gap: 20px;
  font-family: 'Kumbh Sans',sans-serif;
}
.nested_container5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  justify-items: center;
  align-items: start;
  font-family: 'Kumbh Sans',sans-serif;
  padding: 0 1vw 0 1vw;
  grid-column-gap: 20px;
}
.nested_container6 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
}
.nested_container7 {
  display: grid;
  grid-template-rows: 2, auto;
  justify-items: center;
  justify-content: center;
}
.nested_line {
  display: grid;
  grid-template-rows: 2, auto;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}
#img0 {
  width: 30vw;
  height: 21vw;
  border-radius: 10px;
  margin: 0.5em;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.5);
}
#img2 {
  width: 260px;
  height: 260px;
}
#img3 {
  width: 210px;
  height: 190px;
}
#img4 {
  width: 105px;
  height: 105px;
}
#img5 {
  width: 170px;
  height: 170px;
  border: 20px solid transparent;
}
#img6 {
  width: 260px;
  height: 180px;
}
#img7 {
  width: 160px;
  height: 160px;
}
#img8 {
  width: 150px;
  height: 110px;
  border: 20px solid transparent;
}
#img9 {
  width: 140px;
  height: 60px;
}
.nested_container2 > #img1 {
  border: 3px solid red;
  border-radius: 100px;
  width: 130px;
  height: 130px;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.5);
  background-color: #2f4f4f;
}
.navbar {
  display: flex;
  justify-content: center;
  background: #2A363B url('');
  background-size: 13em 13em;
  border-bottom: 1em solid red;
  height: 13em;
  font-size: 1.2rem;
  top: 0;
  z-index: 998;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100vw;
  max-width: 1300px;
  padding-left: 10px;
}
#navbartitle {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: "Playfair Display", Times New Roman;
  font-size: 2rem;
}
.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar_item {
  height: 80px;
}
.navbar_links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  padding: 0 1rem;
  height: 100%;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1000;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: -8px;
  right: 45%;
  z-index: 1005;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  font-size: 15px;
}
/*#myBtn:hover {
  background-color: #ffdead;
  color: black;
}*/
.left {
  border-left: 30px solid transparent;
  grid-area: l1;
}
.right {
  border-left: 1em solid red;
  grid-area: r1;
}
.right2 {
  border-left: 16px solid transparent;
  grid-area: r2;
}
.main1 {
  grid-area: m1;
  width: 65%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-top: -5em;
  border-radius: 10px;
  background-color: #ff847c;
  text-align: center;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1001;
}
.titles {
  width: 90%;
  justify-self: center;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: transparent;
  z-index: 1001;
}
.blocks {
  width: 95%;
  margin-right: 0;
  justify-self: center;
  padding: 2em 2em 1.5em 2em;
  border-radius: 10px;
  background-color: #ffe4c4;
  z-index: 1001;
}
.main2 {
  grid-area: m2;
}
.main3 {
  grid-area: m3;
}
.main4 {
  grid-area: m4;
}
.main5 {
  grid-area: m5;
  text-align: center;
}
.main6 {
  grid-area: m6;
}
.main7 {
  grid-area: m7;
  text-align: center;
  margin-bottom: 2em;
}
.main8 {
  grid-area: m8;
}
.main9 {
  grid-area: m9;
  margin-bottom: 2em;
  text-align: center;
}
.footer {
  grid-area: m14;
  border-top: 10px solid red;
  background-color: black;
  padding: 2em;
}
.nested_container1 > a {
  color: white;
  font-size: 1.5rem;
  margin-top: -1em;
}
.nested_container1 > p {
  margin-top: -5em;
  padding: 1em;
  justify-items: center;
  font-family: 'Kumbh Sans',sans-serif;
}
.nested_container2 > p {
  justify-items: left;
  justify-self: left;
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;
  color: black;
}
#h_color {
  text-align: center;
  color: white;
  font-family: 'Kumbh Sans',sans-serif;
  font-size: 1.5rem;
}
.nested_container2 > ol {
  justify-items: left;
  justify-self: left;
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;
}
.nested_container2 > ul {
  justify-items: left;
  justify-self: left;
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;
}
.bold {
  color: #ffdead;
  filter: brightness(90%);
  font-weight: bold;
}
a:hover {
  color: brown;
  font-weight: bold;
}
.card:hover, .card1:hover, #img0:hover, #img0:active  {
  animation: resize.5s forwards;
}
@keyframes resize {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 1025px) {
  .typewriter > h2,h1 {
    margin-top: 1em;
    font-size: 2rem;
  }
  /*#gif_cover {
    width: 10em;
    height: 10em;
    border-radius: 10em;
  }*/
  .black img {
    background-size: 50% 50%;
  }
  .nested_container2 > #img1 {
    border-radius: 100%;
    width: 230px;
    height: 230px;
    margin: 0.5em;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.5);
  }
  #h_color {
    font-size: 1.5rem;
  }
  .blocks {
    width: 95%;
    padding: 3em 6em 3em 6em;
    margin-right: -1.5em;
  }
  .main1 {
    width: 75%;
    margin-top: -8em;
  }
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100vw;
    max-width: 10000px;
    padding: 0;
  }
  #navbartitle {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 10px;
    font-family: "Playfair Display", Times New Roman;
    font-size: 2rem;
  }
}
@media screen and (max-width: 968px) {
  .typewriter > h2,h1 {
    margin-top: 1em;
    font-size: 1rem;
  }
  #img_cover {
    width: 12em;
    height: 12em;
  }
  /*#gif_cover {
    width: 10em;
    height: 10em;
    border-radius: 10em;
  }*/
  .nested_container3 {
    display: grid;
    grid-template-rows: 6, auto;
    grid-template-columns: repeat(1,auto);
    justify-items: center;
    grid-row-gap: 10px;
  }
  .nested_container5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: center;
    padding: 0;
    grid-row-gap: 10px;
  }
  .hr_solid4 {
    height: 0;
    width: 40%;
    border: 0.5px solid black;
    visibility: hidden;
  }
  .hr_solid9 {
    width: 50%;
    background-color: red;
    border: 1px solid red;
    margin-top: -30px;
  }
  #myBtn {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  #img0 {
    width: 60vw;
    height: 40vw;
    border-radius: 10px;
    margin: 0.5em;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.5);
  }
  #img2 {
    width: 180px;
    height: 180px;
  }
  #img3 {
    width: 140px;
    height: 140px;
  }
  #img4 {
    width: 100px;
    height: 100px;
  }
  #img5 {
    width: 150px;
    height: 150px;
    border: 25px solid transparent;
  }
  #img6 {
    width: 180px;
    height: 70px;
  }
  #img7 {
    width: 140px;
    height: 140px;
  }
  #img8 {
    width: 150px;
    height: 110px;
    border: 25px solid transparent;
  }
  #img9 {
    width: 140px;
    height: 70px;
    border-top: 20px solid transparent;
  }
  .hr_solid3 {
    display: none;
    height: 0;
    width: 60%;
    background-color: red;
    border: 0.5px solid red;
    visibility: visible;
  }
  .nested_container3 > ul {
    grid-row: 3;
  }
  .nested_container5 > ul {
    grid-row: 3;
  }
  #add_line {
    grid-row: 2;
  }
  .hr_solid3 {
    grid-row: 3;
  }
  .hr_solid5 {
    grid-row: 2;
  }
  .hr_solid5 {
    height: 0;
    width: 60%;
    background-color: red;
    border: 0.5px solid red;
    visibility: visible;
  }
  .hr_solid7 {
    visibility: hidden;
  }
  .hr_solid8 {
    visibility: hidden;
  }
  .nested_container3 > img {
    grid-row: 1;
  }
  .nested_container5 > img {
    grid-row: 1;
  }
  #container4_intro {
    grid-row: 2;
  }
  .navbar_container {
    display: flex;
    justify-content: space-around;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-left: 0;
  }
  .navbar_menu {
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 1.1rem;;
    margin: 0;
    padding: 50px;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1666;
  }
  #navbartitle {
    padding-left: 0;
    font-family: "Playfair Display", Times New Roman;
  }
  .navbar_links > a {
    text-decoration: none;
    padding: 0.7em;
    margin-top: -5em;
    font-family: 'Kumbh Sans',sans-serif;
    z-index: 18000;
  }
  .main1 {
    width: 80%;
    justify-self: center;
    padding: 0;
    margin-top: -7em;
    border-radius: 10px;
    background-color: #ff847c;
    text-align: center;
    font-family: 'Kumbh Sans',sans-serif;
    z-index: 1001;
  }
}