* {

  box-sizing: border-box;

}
body {

  width: 100%;
  background-image: url("");
  /*make background-image cover screen*/
  background-size: cover;
  background-color: black;
  /*make background-image fit screen*/
  position: absolute;
  /*make divs inside body fit screen, no scrolling*/
  margin: 0;

}
#deco {

  font-size: 0.9rem;
  color: green;
  text-decoration: none;

}
.hr_solid {

  width: 20%;
  border: 0.5px solid black;
  visibility: hidden;

}
.hr_solid2 {

  width: 25%;
  border: 0.5px solid red;

}
.hr_solid3 {

  height: 70%;
  border: 1px solid black;
  visibility: hidden;

}
.hr_solid4 {

  height: 70%;
  border: 1px solid black;
  visibility: hidden;

}
.hr_solid5 {

  height: 70%;
  border: 1px solid black;
  visibility: hidden;

}
.hr_solid6 {

  width: 70%;
  height: 0;
  border: 0.6px solid red;

}
p {

  text-align: left;

}
.container {

  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto auto auto;
  grid-template-columns: auto 1fr auto auto auto auto;
  grid-template-areas:
  "l1 m1 r1 r2"
  "l1 m2 r1 r2"
  "l1 m3 r1 r2"
  "l1 m4 r1 r2"
  "l1 m5 r1 r2"
  "l1 m6 r1 r2"
  "l1 m7 r1 r2"
  "l1 m8 r1 r2"
  "l1 m9 r1 r2"
  "l1 m10 r1 r2"
  "l1 m11 r1 r2"
  "l1 m12 r1 r2"
  "l1 m13 r1 r2"
  "m14 m14 m14 m14";

}
.nested_container1 {

  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-items: center;

}
i > span {

  font-weight: normal;

}
.nested_container1 > p {

  margin-top: -5em;
  padding: 1em;
  justify-items: center;
  font-family: 'Kumbh Sans',sans-serif;

}
.nested_container2 {

  display: grid;
  grid-template-rows: 5, auto;
  justify-items: center;

}
.nested_container3 {

  display: grid;
  grid-template-rows: 6, auto;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  grid-column-gap: 25px;
  font-family: 'Kumbh Sans',sans-serif;

}
.nested_container4 {

  display: grid;
  grid-template-rows: 6, auto;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  grid-column-gap: 20px;

}
.nested_container4 > p {

  font-family: 'Kumbh Sans',sans-serif;

}
.nested_line {

  display: grid;
  grid-template-rows: 2, auto;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;

}
#img2 {

  width: 260px;
  height: 260px;

}
#img3 {

  width: 210px;
  height: 190px;

}
#img4 {

  width: 150px;
  height: 150px;

}
#img5 {

  width: 170px;
  height: 170px;
  border: 20px solid transparent;

}
#img6 {

  width: 260px;
  height: 180px;

}
#img7 {

  width: 160px;
  height: 160px;

}
#img8 {

  width: 200px;
  height: 150px;
  border: 20px solid transparent;

}
#img9 {

  width: 160px;
  height: 80px;

}
.nested_container2 > #img1 {

  border: 3px solid red;
  border-radius: 100px;
  width: 130px;
  height: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #2f4f4f;

}
/*.item {

  border: 4px solid red;

}*/
.navbar {

  background: #2f4f4f;
  border-bottom: 16px solid red;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 998;
  /*keep above but dont cover content*/

}
.navbar_container {

  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;

}
#navbartitle {

  color: #ff8177;
  background-size: 100;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-family: Times New Roman;
  font-size: 2rem;

}
.navbar_menu {

  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;

}
.navbar_item {

  height: 80px;

}
.navbar_links {

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-family: 'Kumbh Sans',sans-serif;

}
#myBtn {

  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: -8px;
  /* Place the button at the bottom of the page */
  right: 45%;
  /* Place the button 30px from the right */
  z-index: 1005;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 15px;
  /* Increase font size */

}

#myBtn:hover {

  background-color: #ffdead;
  color: black;

}
.left {

  border-left: 30px solid #2f4f4f;
  grid-area: l1;

}
.right {

  border-left: 10px solid red;
  grid-area: r1;

}
.right2 {

  border-left: 16px solid transparent;
  grid-area: r2;

}
.main1 {

  grid-area: m1;
  width: 65%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-top: -5em;
  border-radius: 10px;
  background-color: #d87878;
  text-align: center;
  font-family: 'Kumbh Sans',sans-serif;
  z-index: 1001;

}
.main2 {

  grid-area: m2;
  width: 85%;
  justify-self: center;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: black;
  z-index: 1001;

}
.main3 {

  grid-area: m3;
  width: 85%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  border-radius: 10px;
  background-color: #ffe4c4;
  z-index: 1001;

}
.main4 {

  grid-area: m4;
  justify-self: center;
  width: 85%;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: black;
  z-index: 1001;

}
.main5 {

  grid-area: m5;
  width: 85%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: #ffe4c4;
  text-align: center;
  z-index: 1001;

}
.main6 {

  grid-area: m6;
  justify-self: center;
  width: 85%;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: black;
  z-index: 1001;

}
.main7 {

  grid-area: m7;
  width: 85%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: #ffe4c4;
  text-align: center;
  z-index: 1001;

}
.main8 {

  grid-area: m8;
  justify-self: center;
  width: 85%;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: black;
  z-index: 1001;

}
.main9 {

  grid-area: m9;
  width: 85%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: #ffe4c4;
  text-align: center;
  z-index: 1001;

}
.main10 {

  grid-area: m10;
  justify-self: center;
  width: 85%;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: black;
  z-index: 1001;

}
.main11 {

  grid-area: m11;
  width: 85%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: #ffe4c4;
  text-align: center;
  z-index: 1001;

}
.main12 {

  grid-area: m12;
  justify-self: center;
  width: 85%;
  padding: 0 1em 0 1em;
  border-radius: 10px;
  background-color: black;
  z-index: 1001;

}
.main13 {

  grid-area: m13;
  width: 85%;
  justify-self: center;
  padding: 1em 1em 0 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: #ffe4c4;
  text-align: center;
  z-index: 1001;

}
.footer {

  grid-area: m14;
  border-top: 10px solid red;
  background-color: black;
  padding: 2em;

}
.navbar_links > a {

  color: transparent;
  visibility: hidden;

}
.nested_container1 > a {

  color: white;
  font-size: 1.5rem;
  margin-top: -1em;

}
.nested_container1 > p {

  margin-top: -5em;
  padding: 1em;
  justify-items: center;
  font-family: 'Kumbh Sans',sans-serif;

}
.nested_container2 > p {

  justify-items: left;
  justify-self: left;
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;
  color: black;

}
#h_color {

  text-align: center;
  color: #a8e6ce;
  font-family: 'Kumbh Sans',sans-serif;

}
.nested_container2 > ol {

  justify-items: left;
  justify-self: left;
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;

}
.nested_container2 > ul {

  justify-items: left;
  justify-self: left;
  text-align: left;
  font-family: 'Kumbh Sans',sans-serif;

}
a:hover {

  color: black;
  background-color: #ffdead;
  border-radius: 5px;

}
@media screen and (max-width: 968px) {

  .nested_container3 {

    display: grid;
    grid-template-rows: 6, auto;
    grid-template-columns: repeat(1,auto);
    justify-items: center;
    grid-row-gap: 10px;
    font-family: 'Kumbh Sans',sans-serif;

  }
  .hr_solid4 {

    width: 40%;
    border: 0.5px solid black;
    visibility: hidden;

  }
  #myBtn {

    padding-top: 5px;
    padding-bottom: 10px;

  }
  #img2 {

    width: 180px;
    height: 180px;

  }
  #img3 {

    width: 140px;
    height: 140px;

  }
  #img4 {

    width: 100px;
    height: 100px;

  }
  #img5 {

    width: 150px;
    height: 150px;
    border: 25px solid transparent;
    border-radius: 10px;

  }
  #img6 {

    width: 160px;
    height: 130px;
    border: 25px solid transparent;

  }
  #img7 {

    width: 140px;
    height: 140px;

  }
  #img8 {

    width: 160px;
    height: 130px;
    border: 25px solid transparent;

  }
  #img9 {

    width: 140px;
    height: 70px;
    border-top: 20px solid transparent;

  }
  .hr_solid3 {

    height: 0;
    width: 60%;
    border: 0.5px solid black;
    visibility: visible;

  }
  .nested_container3 > ul {

    grid-row: 3;

  }
  #add_line {

    grid-row: 2;
    font-family: 'Kumbh Sans',sans-serif;

  }
  .hr_solid3 {

    grid-row: 3;

  }
  .hr_solid5 {

    grid-row: 2;

  }
  .hr_solid5 {

    height: 0;
    width: 60%;
    border: 0.5px solid black;
    visibility: visible;

  }
  .nested_container3 > img {

    grid-row: 1;

  }
  #container4_intro {

    grid-row: 2;

  }
  .navbar_container {

    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;

  }
  .navbar_menu {

    display: grid;
    position: absolute;
    grid-template-columns: auto;
    margin-top: -33.7em;
    width: 100%;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;

  }
  #navbartitle {

    padding-left: 10px;
    font-family: Times New Roman;

  }
  .navbar_links > a {

    visibility: visible;
    color: white;
    text-decoration: none;
    padding: 0.7em;
    margin-top: -5em;
    font-family: 'Kumbh Sans',sans-serif;
    z-index: 1000;

  }
  #mobile-menu {

    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);

  }
  .main1 {

    width: 75%;
    justify-self: center;
    padding: 0;
    margin-top: -5em;
    border-radius: 10px;
    background-color: #d87878;
    text-align: center;
    font-family: 'Kumbh Sans',sans-serif;
    z-index: 1001;

  }

}