.border1{
        
  top:0;
  width: 90%;
  padding: 9em; 
  margin: -1em;
  border-bottom: 16px solid;
  border-color: red;
  
}
.back{
        
  width: 100vw;
  background-image: url("/Images/Bg7.jpg");
  background-size: cover;
  position:fixed;
        
}
.size{
        
  background-image: url('/Images/P8.jpg');
  background-size: cover;
  border: solid;
  border-radius: 4px;
  border-color: red;
  position: fixed;
  overflow: hidden;
  top:-80px;
  width: 200px;
  height: 200px;
  margin: 22em 40em 0 8em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.about{
        
  border-radius: 10px;
  background-color: #f0d8d8;
  margin: -30vh 20vw 10vh 15vw;
  padding:15vh 10vw 10vh 10vw;
  width:50vw;
  height:40vh;

}
.border2{
        
  border-radius:10px;
  background-color:white;
  margin: 8em 0 0 9em;
  padding: 0 10em 0 10em;
  width:500px;
  height:250px;
}
.p1{
        
  text-align: center;
  font-family: Times New Roman;
  font-size: 1.8vw;
}
.dropdown{
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin: -15em 0 0 31.5em;
  background-color: #c0c0c0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  font-family: Times New Roman;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on click */
.dropdown-content a:hover {background-color: #ffdead;}

/* Show the dropdown menu on click */
.dropdown:hover .dropdown-content {display: block;}
