.container {
  display: flex;
}
.top-body-divider {

  top: 0;
  width: 76%;
  padding: 6em 20em 6em 6em;
  margin: -1em;
  background-color: #2f4f4f;
  border-bottom: 16px solid;
  border-color: red;

}

.body-background {

  width: 100vw;
  background-image: url("https://raw.githubusercontent.com/Lindo-code/personal_website/main/images/Bg7.jpg");
  background-color: black;
  background-size: cover;
  position: fixed;

}
.p1 {

  text-align: center;
  font-family: "Railway", Times New Roman;
  font-size: 1rem;

}
.hr_solid {
  border: 0.5px solid black;
}
.h3 {
  text-align: center;
}
/*mobile portrait*/
@media all and (orientation: portrait) and (max-width: 480px) {
  .self-portrait {

    background-color: white;
    border: solid;
    border-radius: 100px;
    border-color: red;
    position: fixed;
    overflow: hidden;
    bottom: 8vh;
    width: 130px;
    height: 125px;
    margin: 30vh 10vw 2vh 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }
  .nav-content {

    display: inline-block;
    position: absolute;
    min-width: 15vw;
    margin: -20vh 10vw -20vh 32vw;
    background-color: #c0c0c0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 0.9rem;

  }
  .intro {

    border-radius: 10px;
    background-color: #d87878;
    margin: -15vh 20vw 10vh 15vw;
    padding: 8vh 10vw 8vh 10vw;
    width: 50vw;
    height: 40vh;

  }
  .bottom-border {

    width: 100vw;
    padding: 20vh;
    margin: 13vh 0 0 -1em;
    background-color: black;
    border-top: solid;
    border-color: red;

  }
}
/*mobile landscape*/
@media all and (orientation: landscape) and (max-height: 480px) {
  .self-portrait {

    background-color: white;
    border: solid;
    border-radius: 100px;
    border-color: red;
    position: fixed;
    overflow: hidden;
    top: -6vh;
    width: 120px;
    height: 115px;
    margin: 40vh auto auto -5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .nav-content {

    display: inline-block;
    position: absolute;
    min-width: 15vw;
    margin: -46vh 10vw -20vh 38vw;
    background-color: #c0c0c0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 0.9rem;

  }

  .intro {

    border-radius: 10px;
    background-color: #d87878;
    margin: -38vh 15vw 8vh 15vw;
    padding: 4vh 10vw 20vh 10vw;
    width: 50vw;
    height: 40vh;

  }
  .bottom-border {

    width: 100vw;
    padding: 20em;
    margin: 0.1em 0 -1em -1em;
    background-color: black;
    border-top: solid;
    border-color: red;

  }
}
/*tablet landscape*/
@media all and (orientation: landscape) and (min-height: 480px) {
  .self-portrait {

    background-color: white;
    border: solid;
    border-radius: 100px;
    border-color: red;
    position: fixed;
    overflow: hidden;
    top: -13vh;
    width: 160px;
    height: 155px;
    margin: 32vh 40vw 0 -1vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .nav-content {

    display: inline-block;
    position: absolute;
    min-width: 15vw;
    margin: -24vh 10vw -20vh 36.5vw;
    background-color: #c0c0c0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 0.9rem;

  }

  .intro {

    border-radius: 10px;
    background-color: #d87878;
    margin: -19vh 20vw 10vh 15vw;
    padding: 15vh 10vw 0 10vw;
    width: 50vw;
    height: 40vh;
    text-align: center;
    font-family: 'Kumbh Sans',sans-serif;
    /*font-family: "Quicksand", Times New Roman;*/
    font-size: 1.3rem;


  }
  .bottom-border {

    width: 100vw;
    padding: 10vw;
    margin: 5em 0 -1em -1em;
    background-color: black;
    border-top: solid;
    border-color: red;

  }
}
/*tablet portrait*/
@media all and (orientation: portrait) and (min-width: 480px) {
  .self-portrait {

    background-color: white;
    border: solid;
    border-radius: 100px;
    border-color: red;
    position: fixed;
    overflow: hidden;
    top: -13vh;
    width: 130px;
    height: 125px;
    margin: 35vh 5vw 0 -5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }
  .nav-content {

    display: inline-block;
    position: absolute;
    min-width: 15vw;
    margin: -12vh 10vw -20vh 36vw;
    background-color: #c0c0c0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 0.9rem;

  }
  .intro {

    border-radius: 10px;
    background-color: #d87878;
    margin: -7vh 20vw 1vh 15vw;
    padding: 15vh 10vw 1vh 10vw;
    width: 50vw;
    height: 40vh;

  }
  .bottom-border {

    width: 100vw;
    padding: 6vh;
    margin: 20vh 0 -1vh -1vw;
    background-color: black;
    border-top: solid;
    border-color: red;

  }
}
/* Links inside the nav */
.nav-content a {

  color: black;
  padding: 4vh 8vw 4vh 8vw;
  border-radius: 10px;
  text-decoration: none;
  display: block;

}
/* Change color of nav links on click */
.nav-content a:hover {
  background-color: #ffdead;
}